.LoginScreen {
  position: relative;
  height: 100%;
  background: url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg") center
    no-repeat;
  background-size: cover;
}

.LoginScreen_gradient {
  width: 100%;
  z-index: 1;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.LoginScreen_body {
  position: absolute;
  top: 30%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  z-index: 1;
  color: #fff;
  padding: 20px;
  left: 0;
  right: 0;
}

.LoginScreen_logo {
  position: fixed;
  left: 0px;
  width: 120px;
  object-fit: contain;
  padding-left: 60px;
  padding-top: 30px;
}
