.nav {
  position: fixed;
  top: 0;
  padding: 20px;
  width: 100%;
  height: 30px;
  z-index: 1;
  transition: all 0.5s ease-in;
}

.nav_contents {
  display: flex;
  justify-content: space-between;
}

.nav_logo {
  position: fixed;
  left: 0;
  width: 100px;
  object-fit: contain;
  padding-left: 60px;
  cursor: pointer;
}

.nav_black {
  background: #101;
}

.nav_profile {
  position: fixed;
  right: 20px;
  width: 30px;
  cursor: pointer;
}
