.row {
  color: white;
  margin-left: 60px;
}

.row_posters {
  box-sizing: border-box;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  display: block;
  max-height: 200px;
  object-fit: contain;
  margin-left: -15px;
  margin-right: 25px;
  width: 100%;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row_posterLarge {
  max-height: 400px;
  box-sizing: border-box;
  margin-right: 30px;
}

.row_posterLarge:hover {
  transform: scale(1.1);
  opacity: 1;
  object-fit: contain;
}
